.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width:935px) {
  .header {
    width: 68.75%;
  }
}

@media screen and (max-width: 872px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    width: 100%;
    min-height: 56px;
    padding-top: 28px;
  }
}
